@font-face {
    font-family: 'monsterrat';
    src: url('https://keystone-games.github.io/assets/fonts/monsterrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: 'monsterrat';
    font-size: 24;
}
